/* .css-3dah0e-MuiModal-root-MuiDialog-root .MuiDialog-paper{
  background: linear-gradient(
    to top,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #1a1a1a
  ) !important;
  color: white !important;
} */
.filtergreen{
  filter: brightness(0) saturate(100%) invert(37%) sepia(100%) saturate(600%) hue-rotate(80deg);

}

.hue-rotate-90 {
  filter: hue-rotate(90deg) !important; /* Adjust as necessary */
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield !important; 
}
.MuiDatePickerToolbar-root{
  color: white !important;
}
.MuiDatePickerToolbar-title{
  color: white !important;

}
.MuiTypography-root{
  color: white !important;
}
.MuiButtonBase-root-MuiTab-root
{
  color: white !important;

}
/* .css-57ss0r-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #1976d2;
} */

.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton {
  color: white !important;
}
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button 
{
  color: white !important;
}
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button.Mui-disabled {
  color: white !important;
}

.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  color: #343434 !important;

}


.MuiPickersDay-root{
color: #ffffff !important;
}
.MuiPickersDay-today{
  border-color: #343434 !important;
color: #ffffff !important;
background-color: rgba(0,0,0,0.12) !important;

}
.MuiClockNumber-root{
color: #ffffff !important;

}
.css-zddqwy-MuiClockNumber-root {
  color: #ffffff !important; /* Use !important cautiously */
}

.Mui-disabled{
  color: #343434 !important;
}
.MuiMultiSectionDigitalClockSection-item {
  color: white !important;

}

/* .css-1507ge4-MuiClockNumber-root.Mui-disabled {
  color: white !important;
} */
.pac-container {
  border: none !important;
  background: linear-gradient(
    to top,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #1a1a1a
  ) !important;
  color: #ffffff !important;

  border: 1px solid #292929 !important;
  border-radius: 7px !important;
  box-shadow: none !important;
  margin-top: 4px !important;
}

.pac-container:after {
  content: none !important;
}
.pac-item {
  border: none !important;

  background-color: linear-gradient(
    to top,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #1a1a1a
  ) !important;
  color: #ffffff !important;
}
.pac-item-query {
  border: none !important;

  color: #ffffff !important;
}

.pac-item:hover {
  background-color: #333 !important;
  color: #ffffff !important;
}

.pac-item.pac-item-selected {
  background-color: #555 !important; /* Darker background for selected item */
  color: white !important; /* Ensure text remains white */
}
.pac-icon {
  /* width: 33px !important;
  height: 23px !important; */
  /* margin-right: 7px !important;
  margin-top: 6px !important;
  display: inline-block !important;
  vertical-align: top !important; */
  background-image: url(../../assets/Wallet/placeholder.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  /* background-size: 34px !important; */
}
.hdpi .pac-icon {
  background-image: url(../../assets/Wallet/placeholder.png) !important;
  background-repeat: no-repeat !important;
}

/* .pac-item-selected,
.pac-item-selected:hover {
    background-color: #ebf2fe !important;
} */
/* .pac-matched {
    font-weight: 700 !important;
    border: 1px solid red !important;
} */
.event-des-div{
  margin-top: 38px !important;
  
}
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important; 
}
.create-inner {
  padding-top: 180px;
}
/* ::-webkit-scrollbar {
  display: none;
} */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  grid-template-rows: auto; /* Adjust as needed for rows */
  gap: 0px 60px; /* Horizontal gap (between columns) and vertical gap (between rows) */
  position: relative;
}

.column-separator::before,
.column-separator::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e5e7eb; /* Tailwind gray-200 */
}

.column-separator::before {
  left: calc(
    31.33% + 15px
  ); /* Adjust to match the horizontal gap (half of it) */
}

.column-separator::after {
  left: calc(
    66.66% + 15px
  ); /* Adjust to match the horizontal gap (half of it) */
}

.event-images-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.create-container-head {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.create-container {
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.common-input {
  /* width: 794.34px; */
  /* height: 63px; */
  background-color: transparent !important;
  background: none !important;
  font-size: 16px;
  line-height: 21px;
  border-radius: 10px;
  padding: 20px 10px;
  font-weight: bold;
  color: #ffffff;
}
.common-input::placeholder {
  font-weight: bold;
  color: #ffffff;
}

.create-txtarea-input {
  /* width: 794.34px; */
  height: 260px;
  background-color: transparent !important;
  background: none !important;
  /* border-color: #009540; */
  font-weight: bold;
  color: #ffffff !important;
  /* padding: 15px; */
  /* padding-bottom: 204px; */
  border-radius: 10px;
  resize: none !important;
}

.create-txtarea-input::placeholder {
  font-weight: bold;
  color: #ffffff;
}

.createEvent__container__top__image {
  width: 12px;
  height: 12px;
  margin-left: 2px;
}
.uploadImageButton {
  border: 1px solid #00d059;

  /* width: Fixed (200px)px;
    height: Fixed (52px)px; */

  padding: 12px 41.5px;

  border-radius: 200px;
}

.trash_button {
  background: none;
  border: none;
  padding: 0px;
  position: absolute;
  right: -10px;
  top: -11px;
}

.custom-datepicker {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  background-color: transparent;
}
.react-datepicker__input-container input:focus {
  box-shadow: none !important;
  border: none !important;
  outline: 0 !important;
}
.react-datepicker__input-container input::placeholder {
  color: #ffffff !important;
}

.react-datetime-picker__inputGroup__input:invalid {
  background: transparent !important;
}
.react-datetime-picker__inputGroup {
  color: #ffffff !important;
}

.react-datetime-picker__wrapper {
  border: none !important;
}

.react-datetime-picker__inputGroup__amPm option {
  color: black !important;
}

/* .gallery-box{
  height: 250px;
} */
@media (max-width: 992px) {
  .event-images-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column */
    gap: 0; /* No gap */
  }

  .column-separator::before,
  .column-separator::after {
    display: none; /* Hide separators */
  }
  .common-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .create-inner {
    padding-top: 120px;
  }
  .gallery-box {
    height: 120px;
  }
  .uploadImageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
  .create-container-head {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
  }
  .gallery-box-same {
    padding-right: 15px;
  }
  .gallery-top {
    padding-top: 55px;
  }
  .edit-btn {
    width: 100%;
    justify-content: center;
  }
  .ticket-btn {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .wrap-btns {
    flex-wrap: wrap;
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
