.pp-inner {
  padding-top: 250px;
}
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
  padding-right: 15px;
}

.list-alpha {
  list-style-type: lower-alpha;
  counter-reset: none;
}

ol.list-alpha > li {
  display: list-item;
  counter-increment: none;
  margin-bottom: 0.6em;
  list-style-type: lower-alpha;
 
  
}

ol.list-alpha > li:before {
  content: none;
 
  


}

li ol.list-alpha > li:before {
  content: none;
}


@media(max-width:992px)
{
    .pp-inner {
        padding-top: 120px;
      }
}