/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-container {
  width: 220px;
  height: 6px;
  background-color: #00d059;
  position: relative;
  cursor: pointer;
}

.progress-bar {
  position: absolute;
  height: 100%;
  background-color: #333;
  border-radius: 0px;
}

.thumb,
.thumb-end {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.thumb::before,
.thumb-end::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 50%;
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: radial-gradient(circle, transparent 60%, #000 63%);
  mask: radial-gradient(circle, transparent 60%, #000 63%);
}

#tab-toolbar {
  background: linear-gradient(to top, #0f0f0f, #0f0f0f, #0f0f0f, #1a1a1a) !important;
}
#tab-panel {
  background: linear-gradient(to top, #0f0f0f, #0f0f0f, #0f0f0f, #1a1a1a) !important;
}
#emoji-palatte {
  width: 300px !important;
}
@supports (-webkit-appearance: none) {
  ol {
    list-style-position: inside !important; /* Change list style position for iOS */
  }
}
.flex-adjustmentoforganiserinner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.flex-adjustmentoforganiser {
  display: flex;
  flex-direction: row;
}

.del-verification-input {
  width: 67px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 29px 35px; */
  /* padding: 29px, 35px, 29px, 35px; */
}
.bg-enlarge-img {
  background-image: url("../assets/Wallet/enlarge-qr-bg.svg");
  background-repeat: no-repeat;
  /* width: 100%; */
  background-size: cover;
}

.input-custom-container {
  min-height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
/* ::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
} */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
} */

/* input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
} */

input {
  color-scheme: dark;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.menu-show {
  display: none;
}
.nav-inside {
  display: flex;
  align-items: center;
  gap: 3rem;
}
body {
  font-family: var(--font-base), var(--font-poppins), sans-serif;
}
.main-box {
  width: 100% !important;
  padding: 0px 24px 0px 250px !important;
}
.lunch-event-stlying {
  width: 100% !important;
  padding: 0px 0px 0px 250px !important;
}
@media (max-width: 768px) {
  .del-verification-input {
    padding: 19px 22px;
    height: auto;
    width: 100% !important;
  }
  .main-box {
    width: 100% !important;
    padding: 80px 24px 0px 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lunch-event-stlying {
    width: 100% !important;
    padding: 0px 0px 0px 0px !important;
  }
}
.max-width-adjustment-in-graph {
  width: 120% !important;
  /* max-width: 425px; */
}
@media (max-width: 430px) {
  .max-width-adjustment-in-graph {
    width: 130% !important;
    max-width: 425px;
  }
}

@media (max-width: 1200px) {
  .menu-show {
    display: block;
  }
  .nav-inside {
    display: none;
  }
}
@media (max-width: 425px) {
  .max-width-adjustment-in-graph {
    width: 130% !important;
    max-width: 425px;
  }
}
@media (max-width: 992px) {
  .main-box {
    width: 100% !important;
    padding: 0px 24px 0px 24px !important;
  }
  .lunch-event-stlying {
    width: 100% !important;
    padding: 0px !important;
  }
}
.pxpx {
  @apply px-[1.5rem] lg:px-[4rem];
}

.mx-2xl {
  @apply 2xl:w-[1400px] 2xl:m-auto 2xl:px-0;
}

.text-primary {
  @apply text-[#00D059];
}

.bg-ticket-img {
  /* background-image: url("../assets/Next\ Event.png"); */
  background-image: url("../assets/Wallet/bg-circle-ticket.png");

  background-repeat: no-repeat;
  /* width: 100%; */
  background-size: cover;
  background-position: center;
}

.text-dark {
  @apply text-[#030303];
}

.text-muted {
  @apply text-[#D9D9D9];
}

.bg-primary {
  @apply bg-[#00D059];
}

.border-muted {
  @apply border-[#282828];
}
/* .border-primary {
  @apply border-[#13FF7A];
} */

.text-gradient {
  background: linear-gradient(90deg, #ffffff 0%, #00d059 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-primary {
  background: linear-gradient(161deg, #13ff7a, #002b12, #13ff7a);
}

.border-secondary {
  background: linear-gradient(145deg, #ffc100, #6b4400, #000000, #6b4400, #ff8a08);
}
.bg-reward {
  background-image: url("/blur-green.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.claimable-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width: 992px) {
  .bg-ticket-img {
    /* background-image: url("../assets/Next\ Event.png"); */
    background-image: url("../assets/Wallet/Tickets-black-circle-mb.png");

    background-repeat: no-repeat;
    /* width: 100%; */
    background-size: cover;
    background-position: center;
  }
  .claim-container {
    width: 100%;
    flex-direction: column;
  }
  .bg-reward {
    background: transparent;
  }
  .claimable-container {
    width: 100%;
    flex-direction: column;
  }
  .textbr br {
    display: none;
  }
  .img-contain {
    width: 100%;
  }
}
.custom-quill .ql-toolbar .ql-picker {
  color: #fff !important;
}
.custom-quill .ql-container {
  border: none !important;
}
.custom-quill .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.custom-quill .ql-toolbar .ql-fill {
  fill: #fff;
  stroke: none;
}
.custom-quill .ql-editor::before {
  font-family: var(--font-base) !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 19.2px;
  text-align: left;
  color: white !important;
}
.custom-quill .ql-toolbar {
  border: none !important;
  /* height: 200px; */
}
.custom-quill::placeholder {
  font-family: Nexa;
  font-size: 16px !important;
  font-weight: 800 !important;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff !important;
}

.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  /* height: 100%; */
  outline: none;
  overflow-y: auto;
  padding: 0px 15px 30px 15px !important;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 200px !important;
}
.ql-editor::-webkit-scrollbar {
  display: none !important; /* Hide scrollbar in Chrome, Safari, Edge */
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  display: block;
  margin-top: -1px;
  top: 100%;
  z-index: 1;
  overflow: auto;
  height: 135px;
  background: linear-gradient(to top, #0f0f0f, #0f0f0f, #0f0f0f, #1a1a1a);

  border-color: #292929 !important;
}
.ql-snow .ql-picker.ql-header {
  width: 120px !important;
}
.bg-lunchevent-img {
  background-image: url("../assets/Image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
}
.gradient-bg-auth {
  position: relative;
  border-radius: 8px; /* This controls the rounding of the corners */
}

.gradient-bg-auth::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-bg {
  position: relative;
  border-radius: 8px; /* This controls the rounding of the corners */
}

.gradient-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.drop-bod {
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%) !important;
}
.gradient-border-edit {
  position: relative;
  border-radius: 44px; /* This controls the rounding of the corners */
}
.gradient-border-edit::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: "44px"; /* Inherit the border-radius from the parent */
  padding: 2px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Cs  for verify Button here */
.verify-gradient-border {
  border-radius: 50px; /* This controls the rounding of the corners */
}

.verify-gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* ///////////////   ////////////////// */

.gradient-border-notify {
  position: relative;
  border-radius: 44px !important; /* This controls the rounding of the corners */
}
.hide-text {
  display: none;
}
.gradient-border-notify::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 44px !important; /* Inherit the border-radius from the parent */
  padding: 2px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-border {
  position: relative !important;
  border-radius: 8px !important; /* This controls the rounding of the corners */
}

.Toastify__progress-bar--success {
  color: #ffc100 !important;
}

.gradient-border::before {
  content: "";
  position: absolute !important;
  inset: 0;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 2px !important   ; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%) !important;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) !important;
  -webkit-mask-composite: xor !important;
  mask-composite: exclude !important;
}

/* ////// Gradient border on hover */

.hover-gradient-border:hover {
  position: relative !important;
  border-radius: 8px !important; /* This controls the rounding of the corners */
}

.hover-gradient-border:hover::before {
  content: "";
  position: absolute !important;
  inset: 0;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 2px !important; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%) !important;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) !important;
  -webkit-mask-composite: xor !important;
  mask-composite: exclude !important;
}

/* ////////////////////////////// */

.gradient-border-btn {
  position: relative;
  border-radius: 44px !important; /* This controls the rounding of the corners */
}

.gradient-border-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 44px !important; /* Inherit the border-radius from the parent */
  padding: 2px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-border-rounded {
  position: relative;
  border-radius: 8px; /* This controls the rounding of the corners */
}

.gradient-border-rounded::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px; /* Inherit the border-radius from the parent */
  padding: 2px !important; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.spacer-row .MuiTableCell-root {
  height: 0;
  border: none;
}

/* Large screens: add height */
@media (min-width: 1024px) {
  .spacer-row .MuiTableCell-root {
    height: 16px;
  }
}
.border-avatar {
  background: linear-gradient(145deg, #13ff7a, #002b12, #002b12, #13ff7a);
}
.table-head-gradient {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
  box-shadow: 0px 0.96px 1.91px 0px #1e1e240f;
}
.Toastify__toast-icon {
  width: 40px !important;
}
.gradient-slate {
  background: linear-gradient(to top, #0f0f0f, #0f0f0f, #0f0f0f, #1a1a1a);
}

.gradient-slate-input {
  position: relative;
  border-radius: 12px !important; /* Controls the rounding of the corners */
  background: linear-gradient(to top, #0f0f0f, #0f0f0f, #0f0f0f, #1a1a1a); /* Solid background color */
  border: 1px solid transparent; /* Border needs to be transparent to see the gradient border */
; /* Ensure it is above the pseudo-element */
}
.custom-quill .ql-snow .ql-picker-options {
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%) !important;
  border-radius: 12px !important;
}
.custom-quill .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  color: white !important;
}
.custom-quill .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-radius: 8px !important;
  border: 1px solid !important;

  border-image-source: linear-gradient(360deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%) !important;
}
.custom-quill .ql-toolbar.ql-snow .ql-picker-label {
  color: white !important;
}
/* .gradient-border {
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  padding: 16px;
} */

.gradient-border-drp {
  border: 6px solid;
  border-image-source: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  border-image-slice: 1; /* Applies the gradient across the border */
  border-radius: 8px; /* Optional for rounded effect */
}

.gradient-border-drp {
  position: relative;
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  padding: 4px; /* Border thickness */
  border-radius: 8px; /* Optional */
}

.gradient-border-drp > .inner-content {
  background: #1a1a1a; /* Inner content background */
  border-radius: 8px; /* Match gradient outer corners if rounded */
}

.gradient-border-drp {
  position: relative;
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  border-radius: 8px; /* For a smooth border with round ends */
  padding: 8px;
  -webkit-mask: linear-gradient(transparent 4px, rgba(0, 0, 0, 1) 4px); /* Cut the border inside of the box */
}
.ql-toolbar.ql-snow {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 5px !important;
}

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: normal !important;
  left: 15px !important;
  pointer-events: none;
  position: absolute;
  right: 0 !important;
}

.gradient-slate-input::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px !important; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  /* Place behind the main element */
  border: 1px solid transparent; /* The actual border visible due to gradient */
  border-image: linear-gradient(360deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
  border-image-slice: 1;
}

.border-gradient-empty {
  border: 1px solid;
  border-image-source: linear-gradient(360deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
  border-image-slice: 1;
}

.box-shadow-inset-empty {
  box-shadow: 0px 3px 5px 0px #232323 inset;
}
.bg-gradient {
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
}

.gradient-border-edit {
  position: relative;
  border-radius: 44px; /* This controls the rounding of the corners */
}
.gradient-border-edit::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 44px !important; /* Inherit the border-radius from the parent */
  padding: 2px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.makeAnOffer-gradient {
  position: relative;
  border-radius: 9px; /* This controls the rounding of the corners */
}
.makeAnOffer-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9px !important; /* Inherit the border-radius from the parent */
  padding: 2px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-chat {
  background: linear-gradient(
    to top,
    #000000,
    #000000,
    #0000005e,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );
}

.webkit-header-blur {
  -webkit-backdrop-filter: blur(16px);
}

.swiper-custom-bullet {
  height: 2px;
  width: 2px;
  background-color: white;
}
.custom-viewport-style {
  display: block !important; /* Override all other styles */
}
.swiper-custom-bullet.swiper-custom-bullet-active {
  height: 2px;
  width: 2px;
  background-color: orange;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Edge */
}
.MuiDateTimePickerTabs-root {
  display: none !important;
}
.MuiTypography-root-MuiPickersToolbarText-root {
  display: none !important;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Show up to 3 lines */
  overflow: hidden;
}
.MuiPickersToolbarText-root.Mui-selected {
  display: none !important;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
.element2 {
  box-shadow: 0px 2.56px 5.11px 0px #0000000a; /* Soft shadow with subtle opacity */
  backdrop-filter: blur(64px); /* Frosted glass effect with heavy blur */
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
}
.element {
  box-shadow: 0px 2.56px 5.11px 0px #0000000a; /* Soft shadow with subtle opacity */
  backdrop-filter: blur(64px); /* Frosted glass effect with heavy blur */
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
}
.swiper-button-next,
.swiper-button-prev {
  @apply fill-white scale-[1.8] w-10 h-10;
}
.bg-effect2 {
  background-image: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}
.chat-wid {
  width: 400px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.event-bg-effect {
  background-image: url("../assets/eventsaleblur.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.webkit-blur {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  -o-backdrop-filter: blur(30px);
  -ms-backdrop-filter: blur(30px);
}
.no-border-table .MuiTableCell-root {
  border: none; /* Removes borders from all table cells */
}
.rounded-stlying {
  border-radius: 12px;
}
.scrolling-issue {
  overflow-y: auto !important;
}
.event-width-adjustment {
  width: 100% !important;
}
.event-width-adjustments {
  width: 100% !important;
}
.no-border-table .MuiTableRow-root {
  border: none; /* Removes any potential border on table rows */
}
.border-linear {
  border: 1px solid;

  border-image-source: linear-gradient(360deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
}
.live-chat {
  width: 420px !important;
}
.table-gradient {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%) !important;
  border-bottom: 1px solid #292929 !important;
}
.table-gradient-new {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%) !important;
}
.slider-wid {
  width: fit-content !important;
}
.btons-wrap-adjustment {
  flex-wrap: nowrap;
}
.bg-img-blur {
  /* width: 100%;
       height: auto;
       background:
         "radial-gradient(circle at center, rgba(15, 255, 119, 0.32), rgba(0, 0, 0, 0))";
       filter: blur(100px);
       transform: "translate(125px, 125px)"; */
}
.add-bank-account-border {
  position: relative;
  border-radius: 100px !important; /* This controls the rounding of the corners */
}
.add-bank-account-border input {
  position: relative;
  z-index: 1;
}
.add-bank-account-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px !important; /* Inherit the border-radius from the parent */
  padding: 2px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.scrolling-issue {
  overflow-y: auto !important;
  scroll-behavior: none;
}
.no-border-table {
  border-collapse: collapse; /* Ensures no spacing between cells */
}
.alignment-text {
  text-align: end;
  width: 60%;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}
@media (max-width: 992px) {
  .dialog-custom {
    max-width: 90% !important;
  }
  .spacer-row .MuiTableCell-root {
    height: auto;
  }
  .event-bg-effect {
    background: transparent;
  }
}
@media (max-width: 1118px) {
  .flex-adjustmentoforganiser {
    display: flex;
    flex-direction: column !important;
  }
  .flex-adjustmentoforganiserinner {
    display: flex;
    justify-content: center;
    align-items: center !important;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .wid-adjustment {
    width: 90% !important;
  }
}
@media (max-width: 425px) {
  .gradient-border-rounded {
    position: relative;
    border-radius: 44px !important; /* This controls the rounding of the corners */
  }
  .gradient-border-rounded::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 44px !important; /* Inherit the border-radius from the parent */
    padding: 2px; /* Adjust this value to control the thickness of the border */
    background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .bg-effect2 {
    background-image: url("../assets/Blur2.svg") !important;
    background-repeat: no-repeat;
  }
  .bg-lunchevent-img {
    background-image: url("../assets/Image.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 24px;
  }
}
@media (max-width: 768px) {
  .gradient-border-rounded {
    position: relative;
    border-radius: 44px !important; /* This controls the rounding of the corners */
  }
  .rounded-stlying {
    border-radius: 44px;
  }
  .gradient-border-rounded::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 44px !important; /* Inherit the border-radius from the parent */
    padding: 2px; /* Adjust this value to control the thickness of the border */
    background: linear-gradient(135deg, #13ff7a 0.2%, #002b12 50.2%, #13ff7a 100.2%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
@media (min-width: 425px) {
  .bg-effect {
    background-image: url("../assets/Blur.svg");
    background-repeat: no-repeat;
  }
}
@media (max-width: 558px) {
  .chat-wid {
    width: 300px !important;
  }
}
@media (max-width: 447px) {
  .chat-wid {
    width: 250px !important;
  }
}
@media (max-width: 376px) {
  .chat-wid {
    width: 200px !important;
  }
}
@media (min-width: 1023px) and (max-width: 1090px) {
  .event-width-adjustment {
    width: 500px !important;
  }
  .event-width-adjustments {
    width: 500px !important;
  }
}
@media (max-width: 1023px) {
  .live-chat {
    width: 475px !important;
  }
}
@media (max-width: 890px) {
  .live-chat {
    width: 475px !important;
  }
}
@media (min-width: 1090px) {
  .event-width-adjustment {
    width: 576px !important;
  }
  .event-width-adjustments {
    width: 576px !important;
  }
}
@media (min-width: 1470px) {
  .hide-text {
    display: block;
  }
}
@media (max-width: 360px) {
  .btons-wrap-adjustment {
    flex-wrap: wrap;
  }
}
@media (max-width: 769px) {
  .width-card-ajustment-get-paid {
    width: 345px;
    height: 345px;
  }
}
@media (max-width: 374px) {
  .wallet-div-content {
    display: flex;
    flex-direction: column;
  }
  .alignment-text {
    text-align: start;
  }
  .live-chat {
    width: 235px !important;
  }
  .chat-wid {
    width: 200px !important;
  }
}
@media (max-width: 600px) {
  .scrolling-issue {
    overflow-y: auto !important;
    scroll-behavior: none;
  }
  .chat-wid {
    /* width: 250px !important; */
  }
}
@media (max-width: 320px) {
  .chat-wid {
    width: 150px !important;
  }
}

/* /////////////////////// /////////////////////////////////// */

.gradient-border-Radius_BTN {
  border-width: 2px; /* Adjust border thickness */
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, rgba(251, 251, 251, 0.6) 0%, rgba(251, 251, 251, 0.7) 100%);
  border-radius: 0.5rem; /* Adjust radius as needed */
  background-color: transparent; /* Optional for a clear background */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #13ff7a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #13ff79b9;
}
