/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

  .bg-enlarge-img{
    background-image: url("../assets/Wallet/enlarge-qr-bg.svg");
    background-repeat: no-repeat;
    /* width: 100%; */
    background-size: cover;
  }

 
::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
/* ::-webkit-calendar-picker-indicator {
  filter: invert(1) !important;
} */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
} */

/* input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
} */

input{
  color-scheme: dark ;

 
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.menu-show {
  display: none;
}
.nav-inside {
  display: flex;
  align-items: center;
  gap: 3rem;
}
body {
  font-family: var(--font-base), var(--font-poppins), sans-serif;
}
.main-box {
  width: 100% !important;
  padding: 0px 24px 0px 250px !important;
}
.lunch-event-stlying {
  width: 100% !important;
  padding: 0px 0px 0px 250px !important;
}
@media (max-width: 768px) {
  .main-box {
    width: 100% !important;
    padding: 80px 24px 0px 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lunch-event-stlying {
    width: 100% !important;
    padding: 0px 0px 0px 0px !important;
  }
}
.max-width-adjustment-in-graph {
  width: 120% !important;
  /* max-width: 425px; */
}
@media (max-width: 430px) {
  .max-width-adjustment-in-graph {
    width: 130% !important;
    max-width: 425px;
  }
}

@media (max-width: 1200px) {
  .menu-show {
    display: block;
  }
  .nav-inside {
    display: none;
  }
}
@media (max-width: 425px) {
  .max-width-adjustment-in-graph {
    width: 130% !important;
    max-width: 425px;
  }
}
@media (max-width: 992px) {
  .main-box {
    width: 100% !important;
    padding: 0px 24px 0px 24px !important;
  }
  .lunch-event-stlying {
    width: 100% !important;
    padding: 0px !important;
  }
}
.pxpx {
  @apply px-[1.5rem] lg:px-[4rem];
}

.mx-2xl {
  @apply 2xl:w-[1400px] 2xl:m-auto 2xl:px-0;
}

.text-primary {
  @apply text-[#00D059];
}
.bg-ticket-img {
  background-image: url("../assets/Next\ Event.png");
  background-repeat: no-repeat;
  /* width: 100%; */
  background-size: cover;
}

.text-dark {
  @apply text-[#030303];
}

.text-muted {
  @apply text-[#D9D9D9];
}

.bg-primary {
  @apply bg-[#00D059];
}

.border-muted {
  @apply border-[#282828];
}
/* .border-primary {
  @apply border-[#13FF7A];
} */

.text-gradient {
  background: linear-gradient(90deg, #ffffff 0%, #00d059 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-primary {
  background: linear-gradient(161deg, #13ff7a, #002b12, #13ff7a);
}

.border-secondary {
  background: linear-gradient(
    145deg,
    #ffc100,
    #6b4400,
    #000000,
    #6b4400,
    #ff8a08
  );
}
.bg-reward {
  background-image: url("/blur-green.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.claimable-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width: 992px) {
  .claim-container {
    width: 100%;
    flex-direction: column;
  }
  .bg-reward {
    background: transparent;
  }
  .claimable-container {
    width: 100%;
    flex-direction: column;
  }
  .textbr br {
    display: none;
  }
  .img-contain {
    width: 100%;
  }
}
.custom-quill .ql-toolbar .ql-picker {
  color: #fff !important;
}
.custom-quill .ql-container {
  border: none !important;
}
.custom-quill .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.custom-quill .ql-toolbar .ql-fill {
  fill: #fff;
  stroke: none;
}
.custom-quill .ql-editor::before {
  font-family: var(--font-base) !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 19.2px;
  text-align: left;
  color: white !important;
}
.custom-quill .ql-toolbar {
  border: none !important;
  /* height: 200px; */
}
.custom-quill::placeholder {
  font-family: Nexa;
  font-size: 16px !important;
  font-weight: 800 !important;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff !important;
}

.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  /* height: 100%; */
  outline: none;
  overflow-y: auto;
  padding: 0px 15px 12px 15px !important;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 200px !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  display: block;
  margin-top: -1px;
  top: 100%;
  z-index: 1;
  overflow: auto;
  height: 135px;
  background: linear-gradient(to top, #0f0f0f, #0f0f0f, #0f0f0f, #1a1a1a);
 
  border-color:  #292929 !important;


}
.ql-snow .ql-picker.ql-header {
  width: 120px !important;
}
.bg-lunchevent-img {
  background-image: url("../assets/Image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
}
/* .auth-bg-gradient {
  position: relative;
  border-radius: 8px !important;
}
.auth-bg-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px !important;
  padding: 1px; 
  background: linear-gradient(
    135deg,
    #13ff7a 0.2%,
    #002b12 50.2%,
    #13ff7a 100.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
} */
.gradient-bg-auth {
  position: relative;
  border-radius: 8px; /* This controls the rounding of the corners */
}

.gradient-bg-auth::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-bg {
  position: relative;
  border-radius: 8px; /* This controls the rounding of the corners */
}

.gradient-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-border-edit {
  position: relative;
  border-radius: 44px; /* This controls the rounding of the corners */
}
.gradient-border-edit::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: "44px"; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(
    135deg,
    #13ff7a 0.2%,
    #002b12 50.2%,
    #13ff7a 100.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-border-notify {
  position: relative;
  border-radius: 44px; /* This controls the rounding of the corners */
}
.hide-text{
  display: none;
}
.gradient-border-notify::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(
    135deg,
    #13ff7a 0.2%,
    #002b12 50.2%,
    #13ff7a 100.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-border {
  position: relative;
  border-radius: 8px; /* This controls the rounding of the corners */
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(
    135deg,
    #13ff7a 0.2%,
    #002b12 50.2%,
    #13ff7a 100.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-border-btn {
  position: relative;
  border-radius: 44px !important; /* This controls the rounding of the corners */
}

.gradient-border-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 44px !important; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(
    135deg,
    #13ff7a 0.2%,
    #002b12 50.2%,
    #13ff7a 100.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-border-rounded {
  position: relative;
  border-radius: 8px; /* This controls the rounding of the corners */
}

.gradient-border-rounded::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(
    135deg,
    #13ff7a 0.2%,
    #002b12 50.2%,
    #13ff7a 100.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.spacer-row .MuiTableCell-root {
  height: 0;
  border: none;
}

/* Large screens: add height */
@media (min-width: 1024px) {
  .spacer-row .MuiTableCell-root {
    height: 16px;
  }
}
.border-avatar {
  background: linear-gradient(145deg, #13ff7a, #002b12, #002b12, #13ff7a);
}
.table-head-gradient {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  box-shadow: 0px 0.96px 1.91px 0px #1e1e240f;
}
.gradient-slate {
  background: linear-gradient(to top, #0f0f0f, #0f0f0f, #0f0f0f, #1a1a1a);
}

.gradient-slate-input {
  position: relative;
  border-radius: 12px !important; /* Controls the rounding of the corners */
  background: linear-gradient(
    to top,
    #0f0f0f,
    #0f0f0f,
    #0f0f0f,
    #1a1a1a
  ); /* Solid background color */
  border: 1px solid transparent; /* Border needs to be transparent to see the gradient border */
  z-index: 1; /* Ensure it is above the pseudo-element */
}
.custom-quill .ql-snow .ql-picker-options {
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%) !important;
  border-radius: 12px !important;
}
.custom-quill
  .ql-snow
  .ql-picker:not(.ql-color-picker):not(.ql-icon-picker)
  svg {
  color: white !important;
}
.custom-quill .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-radius: 8px !important;
  border: 1px solid !important;

  border-image-source: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.06) 100%
  ) !important;
}
.custom-quill .ql-toolbar.ql-snow .ql-picker-label {
  color: white !important;
}


.ql-toolbar.ql-snow{
  padding-top:12px !important;
  padding-bottom: 12px !important;
  padding-left: 5px !important;
}

.ql-editor.ql-blank::before{
  color: rgba(0, 0, 0, 0.6);
    content: attr(data-placeholder);
    font-style: normal !important;
    left: 15px !important;
    pointer-events: none;
    position: absolute ;
     right: 0 !important;
}
.gradient-slate-input::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px !important; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1; /* Place behind the main element */
  border: 1px solid transparent; /* The actual border visible due to gradient */
  border-image: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  border-image-slice: 1;
}

.border-gradient-empty {
  border: 1px solid;
  border-image-source: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  border-image-slice: 1;
}

.box-shadow-inset-empty {
  box-shadow: 0px 3px 5px 0px #232323 inset;
}
.bg-gradient {
  background: linear-gradient(360deg, #0f0f0f 72%, #1a1a1a 100%);
}
.gradient-chat {
  background: linear-gradient(
    to top,
    #000000,
    #000000,
    #0000005e,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );
}

.webkit-header-blur {
  -webkit-backdrop-filter: blur(16px);
}

.swiper-custom-bullet {
  height: 2px;
  width: 2px;
  background-color: white;
}

.swiper-custom-bullet.swiper-custom-bullet-active {
  height: 2px;
  width: 2px;
  background-color: orange;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
.swiper-button-next,
.swiper-button-prev {
  @apply fill-white scale-[1.8] w-10 h-10;
}
.bg-effect2 {
  background-image: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.event-bg-effect {
  background-image: url("../assets/eventsaleblur.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.webkit-blur {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  -o-backdrop-filter: blur(30px);
  -ms-backdrop-filter: blur(30px);
}
.no-border-table .MuiTableCell-root {
  border: none; /* Removes borders from all table cells */
}
.event-width-adjustment{
  width:100% !important;
    }
.no-border-table .MuiTableRow-root {
  border: none; /* Removes any potential border on table rows */
}
.table-gradient {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.06) 100%
  ) !important;
  border-bottom: 1px solid #292929 !important;
}
.btons-wrap-adjustment{
  flex-wrap: nowrap;
}
.bg-img-blur{
       /* width: 100%;
       height: auto;
       background:
         "radial-gradient(circle at center, rgba(15, 255, 119, 0.32), rgba(0, 0, 0, 0))";
       filter: blur(100px);
       transform: "translate(125px, 125px)"; */
}
.add-bank-account-border {
  position: relative;
  border-radius: 100px !important; /* This controls the rounding of the corners */
}
.add-bank-account-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px !important; /* Inherit the border-radius from the parent */
  padding: 1px; /* Adjust this value to control the thickness of the border */
  background: linear-gradient(
    135deg,
    #13ff7a 0.2%,
    #002b12 50.2%,
    #13ff7a 100.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.no-border-table {
  border-collapse: collapse; /* Ensures no spacing between cells */
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
}
@media (max-width: 992px) {
  .dialog-custom {
    max-width: 90% !important;
  }
  .spacer-row .MuiTableCell-root {
    height: auto;
  }
  .event-bg-effect {
    background: transparent;
  }
}
@media (min-width:1440px) {
  .wid-adjustment{
    width: 90% !important;
  }
}
@media (max-width: 425px) {
  .gradient-border-rounded {
    position: relative;
    border-radius: 44px !important; /* This controls the rounding of the corners */
  }
  .gradient-border-rounded::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 44px !important; /* Inherit the border-radius from the parent */
    padding: 1px; /* Adjust this value to control the thickness of the border */
    background: linear-gradient(
      135deg,
      #13ff7a 0.2%,
      #002b12 50.2%,
      #13ff7a 100.2%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .bg-effect2 {
    background-image: url("../assets/Blur2.svg") !important;
    background-repeat: no-repeat;
  }
  .bg-lunchevent-img {
    background-image: url("../assets/Image.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 24px;
  }
}
@media (max-width: 768px) {
  .gradient-border-rounded {
    position: relative;
    border-radius: 44px !important; /* This controls the rounding of the corners */
  }
  .gradient-border-rounded::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 44px !important; /* Inherit the border-radius from the parent */
    padding: 1px; /* Adjust this value to control the thickness of the border */
    background: linear-gradient(
      135deg,
      #13ff7a 0.2%,
      #002b12 50.2%,
      #13ff7a 100.2%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
@media (min-width: 425px) {
  .bg-effect {
    background-image: url("../assets/Blur.svg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1023px) and (max-width: 1090px) {
  .event-width-adjustment {
    width: 500px !important;
  }
}
@media (min-width:1023px) {

}
@media (min-width:1090px) {
  .event-width-adjustment{
width: 576px !important; 
  }
}
@media (min-width:1470px) {
  .hide-text{
    display: block;
  }
}
@media (max-width:360px) {
  .btons-wrap-adjustment{
    flex-wrap: wrap;
  }
}
@media (max-width:769px) {
  .width-card-ajustment-get-paid{
    width: 345px;
    height: 345px;
  }
}