.css-1u9des2-indicatorSeparator{
display: none !important;
}
.css-110b5ws-option{
    background-color: transparent !important;
}
.bg-buyNow {
    background-image: url("/blur-green.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 0.5s, backdrop-filter 0.5s;
  }
  input.gradient-slate-input:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  /* Add this to your global CSS file */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

  
  
  
  .bg-buyNow-outer{
    padding: 132px 320px 89px 216px ;
  }
  .bg-buyNow-outer2{
    display: flex;
    align-items: start ;
    justify-content: center;
    flex-direction: column;
  }
  .claimable-container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  @media (max-width: 700px) {
    .animakid_Hero {
      padding-top: 10px; /* Adjust as needed */
    }
    .Animakida_Container_LOgo,
    .Animakid__HeroSection_container,
    .Animkaid_text_Container_descripition,
    .Tim_clende_Svg_container,
    .grid {
      padding-left: 0;
      padding-right: 0;
    }
    .Animkaida_Btn_text_Container h2,
    .Animkaid_Button,
    .AnimIKaid_15text,
    .Animakid_PTExt,
    .Description_text,
    .Animakid_jooin_text,
    .Join_Us_Animakid,
    .animakid_small_Svg_Conatiner p {
      font-size: 90%; /* Reduce font size for better readability */
    }
    .grid {
      gap: 0; /* Adjust gap */
  
    }
  }
  @media (max-width: 992px) {
    .custom-border {
        border-bottom: 1px solid;
        border-image-source: linear-gradient(360deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
        border-image-slice: 1;
      }
    .bg-buyNow-outer{
      width: 100%;
      display: block;
      padding: 100px 54px !important;
    }
    .bg-buyNow-outer2{
      width: 100%;
      display: block;
    }
    .claim-container {
      width: 100%;
      flex-direction: column;
    }
    .bg-buyNow {
        background: transparent;
      }
      .withoutImage {
       
            background: linear-gradient(to top, #0f0f0f, #0f0f0f, #0f0f0f, #1a1a1a);
          
      }
    .claimable-container {
      width: 100%;
      flex-direction: column;
      align-items: normal;
      gap: 32px !important;
    }
    .textbr br {
      display: none;
    }
    .img-contain {
      width: 100%;
    }
  }
  @media (max-width: 1290px) {
    .bg-buyNow-outer{
      width: 100%;
      display: block;
      padding: 132px 170px;
    }
  }
  @media (max-width: 1190px) {
    .bg-buyNow-outer{
      width: 100%;
      display: block;
      padding: 132px 100px;
    }
  }
  @media(max-width:1180px){
    .BuytopDiv{
      padding-bottom: 20px !important;
    }
  }
  @media (max-width: 1090px) {
    .bg-buyNow-outer{
      width: 100%;
      display: block;
      padding: 132px 60px;
    }
  }
  @media (max-width:786px){
    .marginull{
      margin-top: 0 !important;
    }
  }
  @media(max-width:450px){
    .imageFolder{
      width: 88px !important;
    }
  }
  @media (min-width: 370px) and (max-width: 410px) {
    .imageFolder{
      height: 75px !important;
    }
  }
  @media(max-width:369px){
    .imageFolder{
      height: 70px !important;
    }
  }
  @media (max-width: 425px) {
    .bg-buyNow-outer{
      width: 100%;
      display: block;
      padding: 100px 24px 54px !important;
    }
  }

  @media (max-width:650px) {
    .css-19bb58m{
      display: none !important;
    }
  }