/* Aysha Css */

.topDiv {
  align-items: center;
}
.bg-reward {
  background-image: url("/blur-green.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.Listings {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.bg-reward-outer2 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.claimable-container {
  display: flex;
  align-items: center;
  gap: 40px;
 
}

@media (min-width: 1500px) {
  .image {
    width: auto;
    height: auto;
  }
}
.TableHeader {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 18px !important;
}
.tableRow {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19.2px !important;
}
.Table2Header {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19.2px !important;
}
.tableRow2 {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19.2px !important;
}
@media (max-width: 650px) {
  .upperdiv {
    padding: 14.4px 12.3px 14.4px 12.3px !important;
  }
  .Listings {
    font-size: 14px;
    line-height: 16.8px;
  }
  .latertobeHide {
    display: none !important;
  }
  .hidecol {
    display: none !important;
  }
  .latertobeDis {
    display: block !important;
    padding-top: 2px;
    height: 27px;
    padding-bottom: 2px;
    font-size: 10px;
    font-weight: 800;
    line-height: 14px;
  }

  .tableRow {
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight: 700 !important;
    padding: 16px !important;
  }
  .TableHeader {
    font-size: 11px !important;
    line-height: 13.2px !important;
    font-weight: 400 !important;
    padding: 16px !important;
  }
  .Table2Header {
    font-size: 11px !important;
    line-height: 13.2px !important;
    font-weight: 400 !important;
    padding: 16px !important;
  }
  .tableRow2 {
    font-size: 12px !important;
    line-height: 14.4px !important;
    font-weight: 400 !important;
    padding: 16px !important;
  }
}
@media (max-width: 452px) {
  .Table2Header {
    font-size: 11px !important;
    line-height: 13.2px !important;
    font-weight: 400 !important;
    padding: 7px !important;
  }
  .tableRow2 {
    font-size: 10px !important;
    line-height: 14.4px !important;
    font-weight: 400 !important;
    padding: 7px !important;
  }
}
@media (max-width: 325px) {
  .tableRow2 {
    padding: 5px !important;
  }
}

@media (max-width: 427px) {
  .TableHeader {
    font-size: 11px !important;
    padding: 7px !important;
  }
  .tableRow {
    font-size: 10px !important;
    padding: 7px !important;
  }
}
@media (max-width: 370px) {
  .TableHeader {
    font-size: 8px !important;
    font-weight: 400 !important;
    font-size: 8px !important;
    padding: 5px !important;
  }
  .tableRow {
    font-weight: 400 !important;
    font-size: 10px !important;
    padding-left: 2px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 2px !important;
  }
}
@media (max-width: 992px) {
  .bg-reward-outer {
    width: 100%;
    display: block;
    padding: 100px 54px !important;
  }
  .bg-reward-outer2 {
    width: 100%;
    display: block;
  }
  .claim-container {
    width: 100%;
    flex-direction: column;
  }
  .bg-reward {
    background: transparent;
  }
  .claimable-container {
    width: 100%;
    flex-direction: column;
    align-items: normal;
    gap: 32px !important;
  }
  .textbr br {
    display: none;
  }
  .img-contain {
    width: 100%;
  }
}
@media (max-width: 1290px) {
  .bg-reward-outer {
    width: 100%;
    display: block;
    padding: 132px 170px;
  }
}
@media (max-width: 1190px) {
  .bg-reward-outer {
    width: 100%;
    display: block;
    padding: 132px 100px;
  }
}
@media (max-width: 1090px) {
  .bg-reward-outer {
    width: 100%;
    display: block;
    padding: 132px 60px;
  }
}
@media (max-width: 425px) {
  .bg-reward-outer {
    width: 100%;
    display: block;
    padding: 100px 24px 54px !important;
  }
}

@media (max-width: 334px) {
  .Tab {
    font-size: 12px !important;
    /* padding-left: 5px !important;
    padding-right: 5px !important; */
  }
}
@media (max-width: 477px) {
  .Tab {
    width: auto !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .hiddenPicture {
    width: 100% !important;
  }

  .customizeDiv {
    gap: 5px;
  }
  .buttonsrounded {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .main {
    padding-top: 120px !important;
  }
  .arrowImage {
    width: 12.34px !important;
    height: 12.34px !important;
  }

  .topDiv {
    gap: 7.71px;
  }
  .upperdiv {
    align-items: center;
  }
  .buttonrounded {
    padding-left: 0;
    padding-right: 0;
  }
  .main {
    padding-left: 24px;
    padding-right: 24px;
  }
  .hiddenPicture {
    width: 375px;
  }
  .fasty {
    font-size: 32px;
    line-height: 38.4px;
  }
  .description {
    font-weight: 700;
    font-size: 18px;
    line-height: 28.8px;
    color: rgba(0, 208, 89, 1);
  }
  .para {
    font-size: 14px;
    line-height: 21px;
  }
  .tickett {
    font-size: 13px;
    line-height: 16.25px;
  }
  .festivals {
    font-size: 24px;
    line-height: 27.6px;
  }
  .current {
    font-size: 14px;
    line-height: 16.8px;
  }
  .customizeButton {
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }
  .number1 {
    font-size: 18px;
    line-height: 18px;
  }
  .eth {
    font-size: 12px;
    line-height: 12px;
  }
  .owner {
    color: rgba(191, 191, 191, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
  }
  .silentBlue {
    font-size: 16px;
    line-height: 28px;
  }
  .eventDetail {
    font-size: 18px;
    line-height: 28.8px;
  }
  .eventPoint {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .ticket1 {
    font-size: 18px;
  }
  .ticketpoint {
    font-weight: 400;
  }
  .Tab {
    font-size: 14px;
    line-height: 20.3px;
  }
}
@media (max-width: 1150px) {
  .rightDive {
    display: none;
  }
  .hiddenclass {
    display: flex;
    flex-direction: column;
  }
  .hidenTicketType {
    display: block;
  }
  .hiddenEventDetail {
    display: block;
  }
  .customizeButton {
    width: 100%;
  }
  .buttonrounded {
    width: 100%;
  }
}
@media (max-width: 1414px) {
  .breakLine {
    display: none;
  }
}
