/* Nomi branch CSS */
@media (min-width:1500px){
  .mainCardss{
    display: flex;
   justify-content: center !important;
   gap: 35px !important;
  }
 
}
@media (max-width: 700px) {
  .animakid_Hero {
    padding-top: 10px; /* Adjust as needed */
  }
  .Animakida_Container_LOgo,
  .Animakid__HeroSection_container,
  .Animkaid_text_Container_descripition,
  .Tim_clende_Svg_container {
    padding-left: 24px;
    padding-right: 24px;
  }
  /* .Animkaida_Btn_text_Container h2,
  .Animkaid_Button,
  .AnimIKaid_15text,
  .Animakid_PTExt,
  .Description_text,
  .Animakid_jooin_text,
  .Join_Us_Animakid,
  .animakid_small_Svg_Conatiner p {
    font-size: 90%;
  } */
  /* .grid {
    gap: 20px; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  } */
}
/* @media (max-width: 500px) {
  button,
  input,
  optgroup,
  select,
  textarea {
    display: none;

  }
} */

@media (max-width:430px){
.filterImage{
  width: 22px !important;
  max-width: fit-content !important;
}
}