.bg-reward {
  background-image: url("/blur-green.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-reward-outer{
  /* display: flex;
  align-items: start ;
  justify-content: center; */
  padding: 216px 216px;
}
.bg-reward-outer2{
  display: flex;
  align-items: start ;

  justify-content: center;
  flex-direction: column;
}

.claimable-container {
  display: flex;
  align-items: center;
  gap: 40px;
  /* justify-content: space-between; */
}


@media (max-width: 992px) {
  .bg-reward-outer{
    width: 100%;
    display: block;

    padding: 100px 50px;
  }
  .bg-reward-outer2{
    width: 100%;
    display: block;
  }
  .claim-container {
    width: 100%;
    flex-direction: column;
  }
  .bg-reward {
    background: transparent;
  }
  .claimable-container {
    width: 100%;
    flex-direction: column;
    align-items: normal;
    gap: 32px !important;
  }
  .textbr br {
    display: none;
  }
  .img-contain {
    width: 100%;
  }
}


